<div class="row">
  {{#each notes}}
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title d-flex justify-content-between align-items-center">
          {{ title }} <a href="/notes/edit/{{_id}}"><i class="fas fa-edit"></i></a>
        </h4>
        <h6 id="sub">Descripción:</h6>
        <p id="tex">{{ description }} </p>
         <h6 id="sub">Comentarios:</h6>
        <p id="tex">{{ comments }} </p>
         <h6 id="sub">Prioridad:</h6>
        <p id="tex">{{priority}}</p>
        <h6 id="sub">Estatús:</h6>
        <p id="tex">{{status}}</p>
        <h6 id="sub">Referencias Adicionales:</h6>
        <h5 id="s2">Ligas y Pagínas:</h6>
        <a href="{{pages}}"  target="_blank"> <p id="tex2">{{pages}}</p></a>
        <h5 id="s2">Emails:</h6>
        <p id="tex2">{{email}}</p>
 
   
        <!-- DELETE REQUEST -->
        <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-danger btn-block btn-sm">Eliminar</button>
        </form>
      </div>
    </div>
  </div>
  {{else}}
  <div class="card mx-auto">
    <div class="card-body">
      <h1 id="wel">Bienvenido(a)</h1>
      <p class="lead">No hay notas Aún</p>
      <a href="/notes/add" class="btn btn-success btn-block">Crear Nota</a>
    </div>
  </div>
  {{/each}}
</div>